/* Basic styles for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c2c4e;
    color: #333;
}

header {
    background-color: #2c2c4e;
    color: 2c2c4e;
    padding: 20px;
    text-align: center;
}

.content {
    padding: 20px;
    margin-top: 20px;
}

footer {
    background-color: #2c2c4e;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
